.options {
    padding: min(5%, 50px);
}

.item {
    padding: min(3%, 30px);
}

.titles {
    text-align: center; 
    margin-top: min(5%, 50px);
}

.center-text {
    text-align: center; 
}

#loanDownPay, #payBtn {
    display: none;
}

.card {
    padding: min(5%, 50px);
    margin-bottom: min(5%, 50px);
}